<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>Author Directory</title>
</head>
<body>
<div class="container">


	<h3>Author Directory</h3>
	<hr>
	
	<!-- Add a button -->
	<a th:href="@{/authors/showFormForAdd}" class="btn btn-primary btn-sm mb-3">Add Employee</a>
	
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Author Name</th>
				<th>Description</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:if="${authors.empty}">
	            <td colspan="2"> No Authors Available </td>
	        </tr>
			<tr th:each="tempAuthor : ${authors}">
				<td th:text="${tempAuthor.authorname}"/>
				<td th:text="${tempAuthor.authordesc}"/>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>