<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>Publisher Directory</title>
</head>
<body>
<div class="container">


	<h3>Publisher Directory</h3>
	<hr>
	
	<!-- Add a button -->
	<a th:href="@{/publishers/showFormAdd}" class="btn btn-primary btn-sm mb-3">ADD</a>
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Publisher Name</th>
				<th>Description</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempBook : ${publishers}">
				<td th:text="${tempBook.publisherName}"/>
				<td th:text="${tempBook.descPublisher}"/>
				
				<td>
					<!-- Add update button/link -->
					<a th:href="@{/publishers/showFormUpdate(publisherId=${tempBook.id})}" class="btn btn-info btn-sm">Update</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>